{% extends "base.html" %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<div class="mt-5">
    <h2>Lista de Usuários</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td>Maria Santos</td>
                <td>maria.santos@gmail.com</td>
                <td>15/05/1992</td>
                <td>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                    <a href="#"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            <!-- Adicione mais linhas como essas para gerar mais dados -->
          
                {% for aluno in alunos %}
             <tr>
                <td>{{aluno.nome_aluno}} </td>
                <td>{{aluno.email}} </td>
                <td>{{aluno.telefone}} </td>
                <td>
                    <a href="{% url 'editar' id=aluno.id %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'remover' id=aluno.id %}"><i class="fas fa-trash-alt"></i></a>
                    <a href="{% url 'detalhe' id=aluno.id %}"><i class="fas fa-search"></i></a>
                </td>

               
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="mb-3">
        <a href="{% url 'cadastro' %}" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}
